/*
  App.css
  - this is the main file for the directory
  - all edits are allowed here
  - no edits allowed in app.min.css
  - please unscore your name or comment your name out if changes occur
*/
/* .mainNonNav {
  background-image: url("./imgs/yo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */
